# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# DLLs
*.dll

# VSCode
.vscode/*

# Video data
captures/*

# Temporary data
new_*.npz

# Calibration images stored
# as an intermediate step
calib_images/*