# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# DLLs
*.dll

# VSCode
.vscode/*

# Video data
captures/*

# Ignore README inside folder
# for video data
!captures/README.md

# Temporary data
new_*.npz

# Calibration images stored
# as an intermediate step
calib_images/*

# Ignore 2 images of calibration
# images for documentation
!calib_images/two_1_gopr0010_6281.png
!calib_images/two_1_gopr0010_6281_markers.png